body {
  background-color: black;
  color: white;
  font-family: "roboto medium";
}

.video-background {
  height: 290px;
  width: 530px;
  filter: blur(0.3px)brightness(0.2);
}
.odometer {
  font-family: "roboto medium";
}

.card1 {
  margin-top: -35px;
}

.card2 {
  margin-top: -35px;
}

.video-avatar {
  height: 120px;
  width: 220px;
}

.video-name {
  font-family: "ubuntu medium";
  color: white;
  font-size: 18px;
  top: -25px;
  width: 500px;
  overflow:hidden;
  position: absolute;
  margin-top: 30px;
}

.views-icon {
  position: absolute;
  margin-top: 15px;
}

.views {
  font-family: "ubuntu light";
  font-size: 20px;
  color: rgb(255, 255, 100);
  top: -10px;
  margin-left: 5px;
}

.likes {
  font-family: "ubuntu light";
  font-size: 20px;
  color: rgb(100, 255, 100);
  margin-left: 5px;
}

.count {
  font-family: "roboto";
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-top: -5px;
  margin-left: 5px;
}

.count1 {
  font-family: "roboto medium";
  font-weight: 500;
  font-size: 80px;
  color: white;
  top: -15px;
  margin-left: 5px;
}

.count2 {
  font-family: "roboto Medium";
  font-weight: 500;
  font-size: 80px;
  top: -15px;
  margin-left: 5px;
}